.board__container {
  position: relative;
}

.guest-advice {
  position: relative;
  bottom: 3em;
  text-align: center;
}

.feedback {
  position: absolute !important;
  padding: 0.2em !important;
  width: 100%;
  text-align: center;
}

.feedback-enter {
  opacity: 0
}

.feedback-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.feedback-exit {
  opacity: 1;
}

.feedback-exit-active {
  opacity: 0;
  transition: opacity 1s 1.7s ease-out;
}

