.board__container {
  position: relative;
}

.guest-advice {
  position: relative;
  bottom: 3em;
  text-align: center;
}

.feedback__container{
  position: absolute;
  left: 50%;
}

.feedback {
  position: relative;
  top: 1em;
  left: -50%;
}


