.final__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    color: rgb(230, 63, 63);
    font-family: manaspace;
    font-size: 5.5vmax;
}

.final__score {
    font-family: uaSquare;
    font-size: 7vmin;
}

.final__button {
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em;
    transition: transform 0.3s;
}

.final__button:hover {
    transform: scale(1.1);
}

.buttons__container {
    display: flex;
    justify-content: center;
    font-family: manaspace;
}

.highscores {
    width: 80%;
    height: 20em;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 0.5em;
    margin: 0.5em;
}

