.final__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    color: rgb(230, 63, 63);
    font-family: manaspace;
    font-size: 10vmin;
    margin-bottom: 0.1em;
}

.final__score {
    font-family: uaSquare;
    font-size: 7vmin;
    margin-bottom: 0.5em;
}

.final__button {
    text-align: center;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em;
    transition: box-shadow 0.3s;
    background-color: white;
}

.buttons__container {
    display: flex;
    justify-content: center;
    font-family: manaspace;
}

.highscores {
    width: 80%;
    height: 20em;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 0.5em;
    margin: 0.5em;
}

.final__button:hover {
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.25)
}

