.final__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(230, 63, 63);
    font-family: manaspace;
    font-size: 5em;
}

.play-again {
    text-align: center;
    font-size: 2rem;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin: 1rem;
    pointer-events: visible;
}

