.about__container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    text-align: center;
    font-size: small;
}

.about__text__brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo__brand {
    color: gray;
    font-size: 1.5vmax;
    margin-bottom: 2em;
}

.about__brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__text__first{
    margin-top: 1.5em;
}

.about__text {
    margin-bottom: 0.5em;
}

.brand__logo {
    width: 5vmax;
    height: 5vmax;
}

.brand__text__about {
    font-size: 4vmax;
}
