.bonus__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 1em;
}

.bonus__title {
    font-family: manaspace;
    color: rgb(201, 7, 7);
    font-size: 6vmin;
}

.bonus__points {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    font-family: uaSquare;
    font-size: 4vmin;
}

.points {
    justify-self: flex-end;
}

.bonus__button {
    border: none;
    border-radius: 15px;
    padding: 0.5em;
    margin-top: 1em;
    width: 30vmin;
    background-color: rgb(240, 240, 240);
}

.horizontal-line {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Tablet */
@media (min-width: 480px) and (max-width: 699px){
    .bonus__container {
        border: none;
    }
    .bonus__title {
        font-size: 3.5vmax;
    }
    .bonus__points {
        font-size: 3vmin;
    }
  }

/* desktop */
@media (min-width: 700px) {
    .bonus__container {
        border: none;
    }
    .bonus__title {
        font-size: 3vmax;
    }
    .bonus__points {
        font-size: 2vmax;
    }
  }