.feedback__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  text-align: center;
}


/* Tablets and Beyond*/
@media (min-width: 480px){
  .feedback__container{
    font-size: 1em;
  }
}