.navbar__container {
    border-bottom: 0.5px solid lightgray;
}

.register {
    font-size: 0.8em !important;
    display: inline-block !important;
}

.nav-input {
    font-size: 0.9em !important;
    height: 2em !important; 
    padding-left: .325rem  !important;
    color: grey;
    margin-bottom: 0 !important;
}

.login-label {
    font-size: 0.9em !important;
    height: 2em !important; 
    color: grey;
    margin-bottom: 0 !important;
}

.greeting {
    font-size: 1.2em;
    margin-left: auto;
    margin-right: 2em;
}

.username {
    color: rgb(72, 72, 72) !important
}

.logout {
    font-size: small;
}

.welcome {
    opacity: 1;
    animation: fade 0.5s ease-in-out infinite alternate
}

@keyframes fade {
    100% {opacity: 0}
}

.button {
    background: none;
    padding: 0px;
    border: none;
  }

.hamburguer {
    height: 1em ;
}

.hamburguer__button {
    padding: 0 0.8em !important;
}

.form-group {
    margin-bottom: 0 !important;
}

/* navbar when collapsed */
@media (max-width: 480px){
    .toggle {
        display: inline-block !important; 
        width: 35% !important;
    }
    .form-group {
        margin-top: 0.5em !important;
        margin-bottom: 0 !important;
        text-align: center;
    }
    .register__text{
        text-align: center;
    }
    .navbar-text {
        padding: 0.1em !important;
    }
    .nav-link {
        padding: 0.1em !important;
    }
}