.navbar__container {
    border-bottom: 0.5px solid lightgray;
}

.register {
    font-size: 0.8em !important;
}

.nav-input {
    font-size: 0.9em !important;
    height: 2em !important; 
    padding-left: .325rem  !important;
    color: grey;
}

.greeting {
    font-size: 1.2em;
    margin-left: auto;
    margin-right: 2em;
}

.username {
    color: rgb(72, 72, 72) !important
}

.logout {
    font-size: small;
}

.welcome {
    opacity: 1;
    animation: fade 0.5s ease-in-out infinite alternate
}

@keyframes fade {
    100% {opacity: 0}
}

.button {
    background: none;
    padding: 0px;
    border: none;
  }

.hamburguer {
    height: 1em ;
}

.hamburguer__button {
    padding: 0 0.8em !important;
}