.timer__container {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: uaSquare;
    user-select: none;
}

.time {
    color:gray;
    font-size: 5em;
    will-change: opacity, transform;
}

.timer__text {
    display: none;
}

.time.beat {
    animation: beat 1s ease;
    animation-iteration-count: 6;
}

@keyframes beat {
    0%{opacity: 0; transform: scale(0.8)}
    60%{opacity: 1; transform: scale(1);}
}

/* Tablets and Beyond*/
@media (min-width: 480px){
    .timer__container {
        flex-direction: column;
    }
    .timer__text {
        display: block;
        font-size: 6vmin;
    }
    .time {
        font-size: 16vmin;
    }
  }

  @media (min-width: 800px){
    .timer__text {
        font-size: 8vmin;
    }
    .time {
        font-size: 20vmin;
    }
}

