.timer__container {
    display: flex;
    justify-content: center;
}

.time__text {
    font-size: 1.5em;
}

.time {
    color:gray;
    font-size: 6em;
}

.time.beat {
    animation: beat 1s;
    animation-iteration-count: 5;
}

@keyframes beat {
    0%{opacity: 0; transform: scale(0.8)}
    60%{opacity: 1; transform: scale(1);}
}
