.tries__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: uaSquare;
    user-select: none;
}

.tries__text {
    font-size: 3.5vmax;
}

.tries__number {
    margin-top: -0.2em;
    will-change: opacity, transform;
    font-size: 10vmax;
    color: gray;
    animation: beat 1s ease; /* beat animation defined on Timer.css*/
}

/* Tablets and Beyond*/
@media (min-width: 480px){
    .tries__text {
        font-size: 4vmin;
    }
    .tries__number {
        font-size: 16vmin;
    }
  }

@media (min-width: 800px){
    .tries__text {
        font-size: 6vmin;
    }
    .tries__number {
        font-size: 20vmin;
        margin-top: 0;
    }
}