
@font-face {
  font-family: uaSquare;
  src: url(./fonts/ua-squared/UASQUARE.TTF)
}

@font-face {
  font-family: manaspace;
  src: url(./fonts/manaspace/manaspc.ttf)
}

/* Layout */
.app__container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
}

/* General Transitions */
.grow:hover {
  transition: all 0.1s;
  transform: scale(1.2);
  color: salmon;
}
