/* Layout */
.app__container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/* General Transitions */
.grow:hover {
  transition: all 0.1s;
  transform: scale(1.2);
  color: salmon;
}
